<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes</title>
    <link rel="icon" type="image/svg+xml" href="/assets/hermes/hermes/favicon.svg">
    <link rel="manifest" href="/assets/hermes/hermes/manifest.json">
</head>
<body>
    <div id="app"></div>
    <script type="module" src="/assets/hermes/hermes/assets/index-B-Ey8Pm8.js"></script>
    <link rel="stylesheet" href="/assets/hermes/hermes/assets/index-D3CCNj8G.css">
</body>
</html>
